.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s ease;
    background-color: white;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-item h3 {
    margin: 10px 0;
}

.product-item button {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.product-item button:hover {
    background-color: #f8f9fa;
}